body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
    color: #111111;
}
#container {
    z-index: 0;
    position: relative;
    width: 600px;
    height: calc(100% - 60px);
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    border: solid 3px #111111;
}
fieldset {
    border-radius: 15px;
    border: solid 2px inherit;
    font-size: initial;
    color: inherit;
    text-align: center;
}
legend {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
#title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
#overalltimer {
    margin: 25px 0;
}
#activity {
    margin:0;
    padding: 10px 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
#next-activity-p {
    margin: 0;
    padding: 10px 0 15px 0;
    font-size: 20px;
    text-align: center;
}
#next-activity {
    font-weight: bold;
}
.timer-container p {
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: center;
}
#timer {
    font-size:125px; 
    text-align:center;
    font-family:sans-serif;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 15px;
}
#elapsed {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
}
#start { margin: 0 auto; }
footer {
    text-align: center;
    width: 100%;
}

button {
    display: block;
    padding: 0 auto;
    margin: 10px auto;
}
.BR {
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.button-h {
    width: 225px;
    height: 75px;
    border: solid 4px;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #444444;
    color: #BBBBBB;
}
.button-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70px;
    /*border: solid 4px;
    border-radius: 15px;
    font-family: "Exo 2", sans-serif;
    background-color: #444444;
    color: #BBBBBB;*/
}

.button-v {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #444444;
    color: #BBBBBB;
    width: 100%;
    height: 60px;
    font-size: 26px;
    font-weight: bold;
}

.button-v-top {
    border: solid;
    border-width: 3px 3px 1.5px 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.button-v-bottom {
    border: solid;
    border-width: 1.5px 3px 3px 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.button-container p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}
button {
    outline: none;
    box-shadow: 0 4px #999;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}

#popup-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: currentColor;
    opacity: 0.85;
}

#popup-container {
    position: absolute;
    width: 600px;
    top: 10%;
    left: calc((100% - 600px) / 2);
    z-index: 6;
    border-radius: 15px;
    border: solid 3px currentColor;
    background-color: inherit;
    opacity: 0.85;
}

#popup-container h1 {
    text-align: center;
}

#popup-container table { 
    margin: 0 auto;
    width: 100%; 
    font-size: 1.3em;
}

#popup-container table td {padding-top: 10px; padding-bottom: 10px;}

#popup-container table td.left {
    text-align: right;
    padding-right: 0px;
    width: 50%;
}
#popup-container table td.right {
    text-align: left;
    padding-left: 0px;
    width: 50%;
}
#popup-container input {
    padding: 2px 0.5em;
    font-family: inherit;
    font-size: 1.3em;
    border-radius: 8px;
    border: 1px solid inherit;
}
#popup-container button { margin: 0.67em auto; }
.small { font-size: 0.7em; }

label {
    padding: 6px;
    display: block;
    width: 100%;
    border-radius: 3px;

}

.csvtext-container {
    margin: 0 auto;
    width: calc(100% - 10px);
}

textarea {
    position: relative;
    resize: none;
    height: 300px;
    width: calc(100% - 10px);
    margin: 0 auto;
    border-radius: 10px;
}
textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #4d90fe;
}
#csvdisplay {
    display: inline-block;
}